.themeSection{
    padding: 3rem 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.theme{
    width: 15rem;
    height: 15rem;
}

.theme:hover{
    scale: 1.1;
    border: solid red;
}

.theme img{
    width: 100%;
    height: 100%;
}