#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #242628;
}

nav{
  background-color: #323538;
  width: 12rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  padding: 1rem 0;
}

nav div{
  width: 90%;
}

nav div a{
  color: #ededed;
  display: block;
  text-decoration: none;
  padding: 0.1rem 0;
}

.active{
  background-color: #242628;
  /* border: solid 1px; */
}